body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    background: var(--surface-300);
    overflow: hidden;
}

*{

    text-decoration: none;
    font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.p-tabview-nav {
    background: #7996c4;
}
